@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}


body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1280px;
  margin: 0 auto;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  background-color: #f2f2f2;
  color: #333333;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-container {
  flex-grow: 1;
}

.container {

  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
}

.button {
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  background-color: #82b3d3;
  color: #ffffff;

}



.button-reset {
  background-color: transparent;
}

/* PAGE-HEADER */
.page-header {
  display: flex;
  padding: 0 70px;
  color: #000000;
}

.button-page-header {
  background-color: #756157;
}

/* НАВИГАЦИЯ INDEX-PAGE-HEADER */
.navigation {
  display: flex;
  width: 100%;
}

.navigation-list {
  display: flex;
}

.navigation-menu {
  margin-right: 285px;
  Width: 339px;
  Height: 64px;
}

.navigation-menu-user {
  width: 268px;
  height: 64px;
}

.navigation-link {
  display: block;
  padding: 24px 19px;

  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
  color: #000000;
}

/* MAIN-INDEX */
/* СЕКЦИЯ HERO-INDEX */
.hero {
  background-color: #82b3d3;
  background-image: url("../images/main-index/mountains-background.jpg");
  background-position: center, center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* СЕКЦИЯ ADVANTAGES В INDEX */
.advantages {
  color: #000000;
}

.advantages-lead {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.advantages-description {
  color: #333333;
}

.advantages-item {
  background-color: #82b3d3;
  color: #ffffff;
}

.advantages-item h3 {
  font-size: 24px;
  line-height: 28px;
}

.advantages-item p {
  font-size: 18px;
  line-height: 21px;
}

.advantages-item-square {
  background-color: rgba(131, 179, 211, 0.12);
  color: #000000;
}

.advantages-item-road {
  background-color: rgba(131, 179, 211, 0.2);
  color: #000000;
}

.advantages-item-tourists {
  background-color: rgba(131, 179, 211, 0.12);
  color: #000000;
}

.advantages-description-second {
  color: #333333;
}

/* СЕКЦИЯ INFRASTRUTURE-INDEX */
.infrastructure {
  color: #000000;
}

.infrastructure-lead {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.infrastructure-description {
  color: #333333;
}

.infrastructure-item {
  color: #000000;
}

.infrastructure-item h3 {
  font-size: 24px;
  line-height: 28px;
}

.infrastructure-item p {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.infrastructure-item-lodging {
  background-color: rgba(131, 179, 211, 0.12);
}

.infrastructure-item-souvenirs {
  background-color: rgba(131, 179, 211, 0.12);
}

/* СЕКЦИЯ SEARCH-INDEX */
.search-lead {
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

/* СЕКЦИЯ SUBSCRIBE-INDEX */
.subscribe {
  color: #ffffff;
}

.subscribe h2 {
  font-size: 30px;
  line-height: 36px;
}

.subscribe p {
  font-size: 22px;
  line-height: 26px;
}

.subscribe-index {
  background-color: #82b3d3;
  background-image: url("../images/main-index/blur-mountains.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.subscribe-form-field {
  background-color: #f2f2f2;
}

/* MAIN-CATALOG */
/* СЕКЦИЯ MAIN-CATALOG-INDEX */
.main-catalog-header {
  background-color: #82b3d3;
  background-image: url("../images/main-catalog/blur-mountains.jpg");
  color: #ffffff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.catalog-header-title {
  font-size: 60px;
  line-height: 78px;
}

/* ХЛЕБНЫЕ КРОШКИ */
.breadcrumbs-list {
  font-size: 16px;
  line-height: 21px;
}

.breadcrumbs-link {
  text-decoration: none;
  color: inherit;
}

/* СЕКЦИЯ HOTELS-FILTER */
.filter-group-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.filter-group-item {
  font-size: 18px;
  line-height: 23px;
}

.filter-group-price {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

/* СЕКЦИЯ SEARCH-RESULT */
.catalog-search-result {
  color: #000000;
}

.result-sorting-title {
  font-size: 30px;
  line-height: 36px;
}

.sorting-select-control {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

/* HOTEL-CARD */
.hotel-card {
  width: 340px;
  height: 438px;
  border: 1px;
  border-radius: 4px;
  padding: 20px;
  background-color: #e6e6e6;
}

.hotel-card h3 {
  font-size: 24px;
  line-height: 28px;
}

.hotel-card p {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.hotel-card-more {
  background-color: #756157;
}

.rating-value {
  font-size: 16px;
  line-height: 20px;
  color: #333333;
}

/* PAGINATION */
.pagination {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination a {
  background-color: #82b3d3;
  color: #ffffff;
  text-decoration: none;
}

.pagination-item-description {
  color: #000000;
}

/* СЕКЦИЯ SUBCRIBE */
.subscribe-catalog {
  color: #000000;
}

.subscribe-catalog p {
  color: #333333;
}

/* FOOTER */
.contacts-link {
  text-decoration: none;
}

.footer-contacts-address-phone {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
}
